@charset "UTF-8";
/* Fuentes

font-family: 'Fredoka', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;

*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@100&family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap");

/* Estilo de reseteo */
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color:#222222;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 130%;
    scroll-behavior: smooth; 
}

/* header */

.nav__img--logo {
    height: 50px;

}

.header-compra {
    display: flex;
    flex-direction: row;

}

/* Body */

body {    
    background-color: #EDF2F4;
    width: 80%;
}

/* Index */



h1 {
    grid-area: titulo;    
    font-size: 15px; 
    font-weight: 400;
    text-transform: uppercase;
}

@media only screen and (min-width: 756px) and (max-width: 991px) {
    h1 {
        font-size: 20px;
              
    }
}

@media only screen and (min-width: 991.1px)  {
    h1 {
        font-size: 30px;         
    }
}

.div__img--logo {
    margin: 20px 0px;    
    width: 70%;
}

@media only screen and (min-width: 756px) and (max-width: 991px) {
    .div__img--logo {
    margin: 20px 0px;    
    width: 30%;
    }
}

@media only screen and (min-width: 991.1px) {
    .div__img--logo {
    margin: 40px 0px;    
    width: 20%;
    }
}

.div__btnComprar {
    width: 80%;
    font-size: 12px;
    
}

/* Class card en JS - mainIndex */

.div__img--producto {
    height: 250px;
    object-fit:cover;
    object-position:top;
}

.div__h5--prod {
    color: #D90429;
    font-weight: 400;
    text-transform: capitalize;
}

.div__p--prod {
    font-size: 14px; 
}

.div__contenedorCompra {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "cantidad carrito";
    column-gap: 10px;
}

.div__btnCarrito {
    grid-area: carrito;
    width: 100%;
    
}



/* mainComprar JS */

.tabla_carrito {
    width: 100%;
    margin: 20px 0;
}

.td_carrito {
    width: 30%;
    font-size: 15px;
    text-transform: uppercase;
    
}

.chauCarrito {
    display: none;
}

.btnVolver {    
    width: 100%;
}

.btnComprar {    
    width: 100%;    
}

/* mainComprar JS - Formulario */

.div__form {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Comprar HTML */

.recuento {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    
}

.formNO {
    display: none;
}

.fuente-form {
    font-size: 16px;
}

.fuente-input {
    font-size: 12px;
}

/* Gracias HTML */

.contBtnVolver {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

/* mainGracias JS */

.btnGracias {
    width: 20%;
    
}

/* Footer */

footer {
    background-color: #EDF2F4;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.div__logo--footer {
    height: 70px;
    padding: 10px 0px;
}

.footer__div--txt {
    font-size: 10px;
    padding: 10px 0;
}


